<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tphy.tsykxstj.student.dao.mapper.CheckupResultMapper">
    
    <resultMap id="checkupMap" type="com.tphy.tsykxstj.student.dto.CheckupResult">
        <id property="id" jdbcType="INTEGER" column="id" />
        <result property="stuId" jdbcType="INTEGER" column="stu_id" />
        <result property="nakedVisionL" jdbcType="FLOAT" column="naked_vision_l" />
        <result property="nakedVisionR" jdbcType="FLOAT" column="naked_vision_r" />
        <result property="preGlassesDegree" jdbcType="FLOAT" column="pre_glasses_degree" />
        <result property="medicalHistory" jdbcType="VARCHAR" column="medical_history" />

        <result property="coSphereL" jdbcType="FLOAT" column="co_sphere_l" />
        <result property="coSphereR" jdbcType="FLOAT" column="co_sphere_r" />
        <result property="coCylinderL" jdbcType="FLOAT" column="co_cylinder_l" />
        <result property="coCylinderR" jdbcType="FLOAT" column="co_cylinder_r" />
        <result property="coAxisPositionL" jdbcType="FLOAT" column="co_axis_position_l" />
        <result property="coAxisPositionR" jdbcType="FLOAT" column="co_axis_position_r" />
        <result property="coPdL" jdbcType="FLOAT" column="co_pd_l" />
        <result property="coPdR" jdbcType="FLOAT" column="co_pd_r" />


        <result property="eyePressureL" jdbcType="FLOAT" column="eye_pressure_l" />
        <result property="eyePressureR" jdbcType="FLOAT" column="eye_pressure_r" />
        <result property="ocularAxisL" jdbcType="FLOAT" column="ocular_axis_l" />
        <result property="ocularAxisR" jdbcType="FLOAT" column="ocular_axis_r" />
        <result property="ocularPosition" jdbcType="INTEGER" column="ocular_position" />

        <result property="hyperopiaReserve" jdbcType="VARCHAR" column="hyperopia_reserve" />

        <result property="conjunctiva" jdbcType="INTEGER" column="conjunctiva" />
        <result property="cornea" jdbcType="INTEGER" column="cornea" />
        <result property="lens" jdbcType="INTEGER" column="lens" />
        <result property="eyeGround" jdbcType="INTEGER" column="eye_ground" />
        <result property="result" jdbcType="INTEGER" column="result" />
        <result property="doctorSuggestion" jdbcType="VARCHAR" column="doctor_suggestion" />
        <result property="doctorId" jdbcType="INTEGER" column="doctor_id" />
        <result property="doctorName" jdbcType="VARCHAR" column="doctor_name" />
        <result property="createTime" jdbcType="VARCHAR" column="create_time" />

        <association property="student" column="stu_id" javaType="com.tphy.tsykxstj.student.dto.Student">
            <id property="id" jdbcType="INTEGER" column="id" />
            <result property="name" jdbcType="VARCHAR" column="name" />
            <result property="school" jdbcType="VARCHAR" column="school" />
            <result property="classes" jdbcType="VARCHAR" column="classes" />
            <result property="phone" jdbcType="VARCHAR" column="phone" />
            <result property="address" jdbcType="VARCHAR" column="address" />
            <result property="idCard" jdbcType="VARCHAR" column="idCard" />
        </association>
    </resultMap>

    <insert id="save" useGeneratedKeys="true" keyProperty="id" parameterType="com.tphy.tsykxstj.student.dto.CheckupResult">
        insert into checkup_res
            (stu_id, naked_vision_l, naked_vision_r,
             pre_glasses_degree, medical_history,
             co_sphere_l, co_sphere_r, co_cylinder_l,
             co_cylinder_r, co_axis_position_l,
             co_axis_position_r, co_pd_l, co_pd_r,
             eye_pressure_l, eye_pressure_r, ocular_axis_l,
             ocular_axis_r, ocular_position, hyperopia_reserve,
             conjunctiva, cornea, lens, eye_ground, result,
             doctor_suggestion, doctor_id, doctor_name,create_time)
         values
         (
          #{stuId},#{nakedVisionL},#{nakedVisionR},#{preGlassesDegree},
          #{medicalHistory},#{coSphereL},#{coSphereR},#{coCylinderL},#{coCylinderR},
          #{coAxisPositionL},#{coAxisPositionR},#{coPdL},#{coPdR},
          #{eyePressureL},#{eyePressureR},#{ocularAxisL},
          #{ocularAxisR},#{ocularPosition},#{hyperopiaReserve},#{conjunctiva},#{cornea},#{lens},#{eyeGround},
          #{result},#{doctorSuggestion},#{doctorId},#{doctorName},NOW()
          )
    </insert>
    <update id="update">
        update checkup_res
        set
            naked_vision_l = #{nakedVisionL},
            naked_vision_r = #{nakedVisionR},
            pre_glasses_degree = #{preGlassesDegree},
            medical_history = #{medicalHistory},
            co_sphere_l = #{coSphereL},
            co_sphere_r = #{coSphereR},
            co_cylinder_l = #{coCylinderL},
            co_cylinder_r = #{coCylinderR},
            co_axis_position_l = #{coAxisPositionL},
            co_axis_position_r = #{coAxisPositionR},
            co_pd_l = #{coPdL},
            co_pd_r = #{coPdR},
            eye_pressure_l = #{eyePressureL},
            eye_pressure_r = #{eyePressureR},
            ocular_axis_l = #{ocularAxisL},
            ocular_axis_r = #{ocularAxisR},
            ocular_position = #{ocularPosition},
            hyperopia_reserve = #{hyperopiaReserve},
            conjunctiva = #{conjunctiva},
            cornea = #{cornea},
            lens = #{lens},
            eye_ground = #{eyeGround},
            result = #{result},
            doctor_suggestion = #{doctorSuggestion},
            doctor_id = #{doctorId},
            doctor_name = #{doctorName}
        where id = #{id}
    </update>
    <update id="updateStatus">
        update student_status
        set status = #{status}
        where stu_id = #{stuId}
    </update>
    <select id="findByStuId" resultMap="checkupMap">
        select a.id,
               a.stu_id,
               a.naked_vision_l,
               a.naked_vision_r,
               a.pre_glasses_degree,
               a.medical_history,
               a.co_sphere_l,
               a.co_sphere_r,
               a.co_cylinder_l,
               a.co_cylinder_r,
               a.co_axis_position_l,
               a.co_axis_position_r,
               a.co_pd_l, a.co_pd_r,
               a.eye_pressure_l,
               a.eye_pressure_r,
               a.ocular_axis_l,
               a.ocular_axis_r,
               a.ocular_position,
               a.hyperopia_reserve,
               a.conjunctiva,
               a.cornea,
               a.lens,
               a.eye_ground,
               a.result,
               a.doctor_suggestion,
               a.doctor_id,
               a.doctor_name,
               a.create_time,
               b.school,
               b.classes,
               b.name,
               b.phone,
               b.address,
               b.idCard
        from checkup_res a
        left join student_info b on a.stu_id = b.id
        where stu_id = #{stuId}
        order by a.create_time desc
        limit 1
    </select>

    <select id="getPushData" resultMap="checkupMap">
        select b.id,
               b.phone,
               b.name,
               b.create_time,
               a.co_sphere_l,
               a.co_sphere_r,
               a.co_cylinder_l,
               a.co_cylinder_r,
               a.co_axis_position_l,
               a.co_axis_position_r,
               a.co_pd_l,
               a.co_pd_r
        from checkup_res a
                 left join student_info b on a.stu_id = b.id
                 left join student_status c on a.stu_id = c.stu_id
        where c.status = 1
          and (
                (a.naked_vision_l != 1.0 or a.naked_vision_r != 1.0 or a.naked_vision_l is null or
                 a.naked_vision_r is null)
                or
                (a.co_sphere_l != 0.0 or a.co_sphere_r != 0.0 or a.co_sphere_l is null or a.co_sphere_r is null)
                or
                (a.co_cylinder_l != 0.0 or a.co_cylinder_r != 0.0 or a.co_cylinder_l is null or a.co_sphere_r is null)
                or
                (a.co_axis_position_l != 0.0 or a.co_axis_position_r != 0.0 or a.co_axis_position_l is null or
                 a.co_axis_position_r is null)
                or
                (a.co_pd_l != 0.0 or a.co_pd_r != 0.0 or a.co_pd_l is null or a.co_pd_r is null)
                or
                (GetAgeFromIDCard(b.idCard) = 9 and a.ocular_axis_l not between 21.45 and 24.46)
                or
                (GetAgeFromIDCard(b.idCard) = 9 and a.ocular_axis_r not between 21.45 and 24.46)
                or
                (GetAgeFromIDCard(b.idCard) = 10 and a.ocular_axis_l not between 21.60 and 24.67)
                or
                (GetAgeFromIDCard(b.idCard) = 10 and a.ocular_axis_r not between 21.60 and 24.67)
                or
                (GetAgeFromIDCard(b.idCard) = 11 and a.ocular_axis_l not between 21.71 and 24.80)
                or
                (GetAgeFromIDCard(b.idCard) = 11 and a.ocular_axis_r not between 21.71 and 24.80)
                or
                (GetAgeFromIDCard(b.idCard) = 12 and a.ocular_axis_l not between 21.79 and 24.84)
                or
                (GetAgeFromIDCard(b.idCard) = 12 and a.ocular_axis_r not between 21.79 and 24.84)
                or
                (GetAgeFromIDCard(b.idCard) = 13 and a.ocular_axis_l not between 22.07 and 24.65)
                or
                (GetAgeFromIDCard(b.idCard) = 13 and a.ocular_axis_r not between 22.07 and 24.65)
                or
                (GetAgeFromIDCard(b.idCard) = 14 and a.ocular_axis_l not between 21.92 and 24.82)
                or
                (GetAgeFromIDCard(b.idCard) = 14 and a.ocular_axis_r not between 21.92 and 24.82)
                or
                (GetAgeFromIDCard(b.idCard) = 15 and a.ocular_axis_l not between 22.10 and 24.68)
                or
                (GetAgeFromIDCard(b.idCard) = 15 and a.ocular_axis_r not between 22.10 and 24.68)
                or
                ocular_position = 2
                or
                conjunctiva = 0
                or
                cornea = 0
                or
                lens = 0
                or
                eye_ground = 2
            )
    </select>


</mapper>
